In [7]:
%matplotlib inline
import pandas as pd

In [8]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [9]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                  title  year
0  The Impossible Years  1968
1         Bad Girl (II)  2016
2                 Still  2017
3                 Sapho  1934
4       As I Die Slowly  2011

In [10]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [16]:
len(titles)

234375

### What are the earliest two films listed in the titles dataframe?

In [19]:
titles.sort_values(by='year').head(2)

                     title  year
175764          Miss Jerry  1894
214779  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [22]:
len(titles[titles.title == 'Hamlet'])

20

### How many movies are titled "North by Northwest"?

In [23]:
len(titles[titles.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [32]:
titles[titles.title == 'Hamlet'].sort_values(by = 'year').head(1)

        title  year
84159  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [34]:
titles[titles.title == 'Treasure Island'].sort_values(by = 'year')

                  title  year
180222  Treasure Island  1918
106410  Treasure Island  1920
124601  Treasure Island  1934
179566  Treasure Island  1950
10029   Treasure Island  1972
82046   Treasure Island  1973
12279   Treasure Island  1985
123840  Treasure Island  1999

### How many movies were made in the year 1950?

In [35]:
len(titles[titles.year == 1950])

1108

### How many movies were made in the year 1960?

In [36]:
len(titles[titles.year == 1960])

1522

### How many movies were made from 1950 through 1959?

In [39]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12838

In [40]:
len(titles[titles.year // 10 == 195])

12838

### In what years has a movie titled "Batman" been released?

In [45]:
t = titles
t[t.title == 'Batman']

         title  year
63429   Batman  1943
157132  Batman  1989

### How many roles were there in the movie "Inception"?

In [50]:
len(cast[cast.title == 'Inception'])

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [59]:
c = cast[cast.title == 'Inception']
c = c[c.n.isnull()]
len(c)

27

51

### But how many roles in the movie "Inception" did receive an "n" value?

In [62]:
c = cast[cast.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [72]:
c = cast[cast.title == 'North by Northwest']
c = c[c.n.notnull()]
c.sort_values(by='n')

,title,year,name,type,character,n
862704,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3454870,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1442245,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3107584,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
353161,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3003291,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1678037,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1262029,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2421978,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1792870,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
659151,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2272099,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
460129,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1493027,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
204270,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1370444,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [73]:
c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 1972]
c = c.sort_values(by ='n')
c

,title,year,name,type,character,n
1688044,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
323425,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
370204,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1450432,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2691119,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1433847,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [74]:
c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 2007]
c = c.sort_values(by ='n')
c

          title  year                 name     type          character    n
323426   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1280164  Sleuth  2007             Jude Law    actor               Milo  2.0
1787459  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
257450   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
370205   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2691118  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3312638  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [75]:
c = cast
c = c[c.title == 'Hamlet']
c = c[c.year == 1921]
len(c)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [76]:
c = cast
c = c[c.title == 'Hamlet']
c = c[c.year == 1996]
len(c)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [84]:
c = cast
c = c[c.title == 'Hamlet']
len(c)

312

### How many people have played an "Ophelia"?

In [85]:
c = cast[cast.character == 'Ophelia'].name.unique()
len(c)

111

### How many people have played a role called "The Dude"?

In [86]:
c = cast
c = c[c.character == 'The Dude']
len(c)

18

### How many people have played a role called "The Stranger"?

In [87]:
c = cast
c = c[c.character == 'The Stranger']
len(c)

213

### How many roles has Sidney Poitier played throughout his career?

In [90]:
len(cast[cast.name == 'Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [91]:
len(cast[cast.name == 'Judi Dench'])

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [92]:
c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 2]
c = c.sort_values(by = 'year')
c

                   title  year        name   type    character    n
862701  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
862711    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [93]:
c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 1]
c = c.sort_values(by = 'year')
c

,title,year,name,type,character,n
862726,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
862684,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
862728,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
862716,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
862730,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
862707,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
862675,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
862699,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
862700,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
862708,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
862667,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
862703,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
862702,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
862705,Notorious,1946,Cary Grant,actor,Devlin,1.0
862722,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
862723,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
862698,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
862679,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
862688,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [97]:
c = cast[cast.year// 10 == 195]
c = c[c.type == 'actor']
len(c)

157065

### How many roles were avilable for actresses in the 1950s?

In [98]:
c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

57089

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [101]:
c = cast[cast.n == 1]
c = c[(c.year) <= 1980]
len(c)

64646

### How many non-leading roles were available through from the beginning of film history through 1980?

In [102]:
c = cast
c = c[c.year <= 1980]
c = c[c.n != 1]
len(c)

1108061

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [103]:
c = cast
c = c[c.year <= 1980]
c = c[c.n.isnull()]
len(c)

444236